#logo-login {
    background: var(--color-gray) url("../../assets/background-login.png") no-repeat right 75% bottom 6%;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-img-login {
    position: absolute;
    margin: auto;
    margin-bottom: 3vh;
    width: 29rem;
}

#form-login {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5vh;
    width: 100vw;
    height: 30vh;
}

footer {
    background-color: var(--color-gray);
    height: 10vh;
}

.text-home {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.link-home {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-yellow-kitchen);
    text-shadow: 2px 2px 5px var(--color-black);
}

@media screen and (min-width: 1200px) {
    #logo-login {
        background-size: 100%;
        width: 100%;
    }
    #logo-img-login {
        height: 45vh;
        width: auto;
    }
}