#logo-login {
    background-color: var(--color-gray);
    background-image: url("../../assets/background-login.png");
    background-position: right 75% bottom 6%;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-img-login {
    position: absolute;
    margin: auto;
    margin-bottom: 3vh;
    width: 29rem;
}

#form-login {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5vh;
    width: 100vw;
    height: 40vh;
}

Input {
    width: 60vw;
    height: 4.5vh;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
}

#text-home {
    font-size: 1.2rem;
    font-weight: 600;
}

.link-home {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-gray-box);
}