button {
    background-color: var(--color-yellow-service);
    box-shadow: 0 1px 5px  var(--color-button-shadow);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.kitchen {
    width: 100%;
    height: 3.5vh;
    font-size: 1rem;
}

.signin {
    width: 50%;
    height: 4.5vh;
    font-size: 1.2rem;
}

.btnMenu{
    background: var(--color-gray-box);
    border-radius: 10px;
    padding: 1rem;
    width: 12rem;
    font-size: 1.1rem;
    color: var(--color-white);
    font-family: var(--font-products);
}

.btnMenuActive {
    background-color: var(--color-yellow-service);
    border-radius: 10px;
    padding: 1rem;
    width: 12rem;
    font-size: 1.1rem;
    color: var(--color-black);
    font-family: var(--font-products);
}