.card{
    background: var(--color-gray-box);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48.9%;
    height: 8rem;
    padding: .3rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 1px 5px  var(--color-button-shadow);
    font-family: var(--font-products);
}

.title, .image, .name, .price {
    background-color: var(--color-gray-box);
}

.title{
    display: flex;
    height: 80%;
}

.image {
    width: 9vw;
    height:fit-content;
}

.name{
    margin: auto .2rem;
    text-align: center;
    font-size: .95rem;
    color: var(--color-white);
}

.price{
    height: 20%;
    padding: .15rem 0 .15rem 0;
    text-align: center;
    font-weight: bold;
    color: var( --color-yellow-service);
}

button {
    background-color: var(--color-yellow-service);
    box-shadow: 0 1px 5px  var(--color-button-shadow);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.kitchen {
    width: 100%;
    height: 3.5vh;
    font-size: 1rem;
}

.signin {
    width: 50%;
    height: 4.5vh;
    font-size: 1.2rem;
}

.btnMenu{
    background: var(--color-gray-box);
    border-radius: 10px;
    padding: 1rem;
    width: 12rem;
    font-size: 1.1rem;
    font-family: var(--font-products);
    color: var(--color-white);
}

.btnMenuActive {
    background-color: var(--color-yellow-service);
    border-radius: 10px;
    padding: 1rem;
    width: 12rem;
    font-size: 1.1rem;
    font-family: var(--font-products);
    color: var(--color-black);
}
