.btn{
    background: var(--color-gray-box);
    border-radius: 3px;
    padding: 1rem;
    border: transparent;
    width: 12rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    
}