.input-form{
    width: 60vw;
    height: 4.5vh;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .input-form {
        width: 60%;
        height: 12%;
    }
}