.card-product{
    height: 8rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    background: var(--color-gray-box);
    border-radius: 10px;
    justify-content: space-between;
    padding: .5rem;
    font-family: var(--font-products);
}

.name-product{
    text-align: center;
    color: var(--color-white);
    font-size: 100%;
    padding: 1rem 0 1rem 0;
    /* border: 2px solid red; */
}

.price-product{
    padding: .15rem 0 .15rem 0;
    text-align: center;
    color: var(--color-green);
    height: 30%;
    /* border: 2px solid blue; */
}