.header {
    background: var(--color-header);
    padding: 2rem 4vw;

}
.nav{
    display: flex;
    justify-content: space-between;

}
.links{
    display: flex;
    gap: 8vw;
}

.item {
    list-style-type: none;
    font-size: 1.2rem;
    color: var(--color-white);
    font-weight: bold;
    font-family: var(--font-products);
}
.item:nth-last-child(1){
    margin-right:0;

} 

.link {
    text-decoration: none;
    color: var(--color-white);
}

