.header, .nav, .links, .link, .item:nth-last-child(1) {
    background: var(--color-header);
}

.header {
    padding: 2rem 4vw;
    box-shadow: 0 1px 5px  var(--color-button-shadow);
}

.nav{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 8vw;
}

.item {
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-products);
    font-size: 1.2rem;
    color: var(--color-white);
}

.item:nth-last-child(1){
    margin-right:0;
} 

.link {
    text-decoration: none;
    color: var(--color-white);
}

@media screen and (min-width: 815px) {
    .header {
        max-width: 813px;
        padding: 2rem 2vw;
    }
    .links{
        gap: 3vw;
    }
}