header {
    background: var(--color-header);
    padding: 1rem;
}
.nav{
    display: flex;
    gap: 8%;
}
.nav-item {
    list-style-type: none;
    padding: 1%;
    /* text-align: center; */
    font-size: 1.2rem;
    color: var(--color-white);
}

.item-link {
    text-decoration: none;
    color: var(--color-white);
}

.active{
    color: var(--color-yellow-service);
}