.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1vw;
    margin: 1vh 0;
}

.quantify {
    display: flex;
}
.text {
    font-size: 1.3rem;
    color: var(--color-white);
    text-align: center;
}

.minusPlus {
    margin: 0 2vw;
    font-size: 1.7rem;
    color: var(--color-yellow-service);
}
.delete {
    grid-column-start: 2;
    color: var(--color-red);
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 1.3rem;
}
.separateItems {
    opacity: 0.2;
}