* {
    margin: 0 auto;
    padding: 0;
}
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #B80303;
    --color-green: #1FB741;
    --color-gray: #9D9B9B;
    --color-background: #231F20;
    --color-gray-box: #403B3C;
    --color-yellow-service: #EBCE39;
    --color-yellow-kitchen: #F5E487;
}
body {
    background-color: var(--color-background);
    max-width: 810px;
}

.App {
    display: flex;
    flex-direction: column;
}

img {
    border: red solid 1px;
    margin-bottom: 80px;
    max-height: 50vh;
}

form {
    border: green solid 1px;
    background: cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5vh;
    width: 100vw;
    height: 50vh;
}

form > input {
    width: 60vw;
    height: 4.5vh;
    border-radius: 5px;
}

form > input[type=submit] {
    background-color: var(--color-yellow-service);
}
