@import "./pages/login/login.css";

* {
    margin: 0 auto;
    padding: 0;
}
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #B80303;
    --color-green: #1FB741;
    --color-gray: #9D9B9B;
    --color-background: #231F20;
    --color-gray-box: #403B3C;
    --color-yellow-service: #EBCE39;
    --color-yellow-kitchen: #F5E487;
}
body {
    background-color: var(--color-background);
    max-width: 810px;
    max-height: 1080px;
}

.App {
    display: flex;
    flex-direction: column;
}