.container {
    background-color: var(--color-background);
    height:100vh;
}

.title {
    background-color: var(--color-yellow-kitchen);
    border-radius: 7px 7px 0 0;
    margin: 2vh auto 0;
    padding: 0.8vh 0.8vw;
    width: 80%;
    font-family: var(--font-products);
    font-size: 1.2rem;
    text-align: center;
}

.table {
    overflow-y: auto;
}

.delivery, .kitchen, .finished {
    margin: auto;
    width: 80%;
    height: 20%;
    border-collapse: collapse;
    font-size: 1.3rem;
    color: var(--color-white);
    text-align: center;
    box-shadow: 0 1px 5px  var(--color-button-shadow);
}

.tableTitleD, .tableTitleK, .tableTitleF, .kitchenColumn, .deliveryColumn, .finishedColumn {
    background-color: var(--color-gray-box);
    padding: 1.2vh 1.5vw;
}

.delivery tr, .kitchen tr, .finished tr{
    border-bottom: 1px solid var(--color-white);
}

.input {
    background-color: var(--color-green);
    padding: 2vh 2.5vw;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.tableTitleD { color: var(--color-green); }

.tableTitleK { color: var(--color-yellow-service); }

.tableTitleF { color: var(--color-gray); }