.user {
    background-color: var(--color-gray-box);
    padding: 1.5rem;
    position: relative;
    margin: 1vh 10vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .14);
}

.user ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    color: var(--color-white);
    font-size: 1.2rem;
}

.user ul li strong {
    color: var(--color-yellow-service);
}

.user button {
    top: 0.7rem;
    right: 0.7rem;
    border: none;
    outline: none;
    color: var(--color-white);
    background: none;
    cursor: pointer;
    line-height: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
    position: absolute;
    border-radius: 1.5rem;
    background-color: var(--color-black);
    padding: .2rem .35rem .35rem .35rem;
}