
.container{
    background-color: var(--color-background);
    height:100vh;
}

.btnMenu{
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 1vh 2vw;
    /* width: 95vw; */
    height: 7vh;
    /* border: 1px red solid; */
}


.menuShopping {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    row-gap: 1vw;
    justify-content: center;
    margin: 2vh 2vw;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-content: flex-start;
    /* border: 1px green solid; */
}
.shoppingCar{
    background: var(--color-gray-box);
    position: relative;
    border-radius: 10px;
    height:fit-content;
    padding: 2rem 2rem;
    /* border: 1px yellow solid; */
}

hr {
    width: 100%;
    margin: auto;
}
.input {
    background-color: var(--color-gray-box);
    border: transparent;
    width: 50%;
    /* height: 32px; */
    margin-bottom: 1rem;
    padding: 0 .5rem;
    color: var(--color-white);
    font-size: .8rem;
    font-weight: bold;
}
#left{
    border-right: .5px solid var(--color-white);
    text-align: right;
}

.title, .total {
    font-size: 1rem;
    font-weight: bold;
}
.title { color: var(--color-white); }
.total { 
    color: var(--color-green);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.value{
    display: flex;
    justify-content: space-between;
}
#drafts{
    min-height: 500px;
}

/* Ítens do carrinho */
.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1vw;
    margin: 1vh 0;
}

.quantify {
    display: flex;
}
.text {
    font-size: 1.3rem;
    color: var(--color-white);
    text-align: center;
}
.minusPlus {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 2vw;
    font-size: 1.7rem;
    color: var(--color-yellow-service);
}
.delete {
    border: none;
    background: none;
    cursor: pointer;
    grid-column-start: 2;
    color: var(--color-red);
    font-family: var(--font-products);
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 1.5rem;
}
.separateItems {
    opacity: 0.2;
}

.image{
    height: 60px;
    width: 60px;
}