.shoppingCar, .headerCar, .tableRow, .input, .title, .total,
.value, .tableCar, .item, .quantify, .text, .minusPlus, 
.delete, .image {
    background-color: var(--color-gray-box);
}

.container{
    height:100vh;
}

.btnMenu{
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 1vh 2vw;
    height: 7vh;
    /* border: 1px red solid; */
}

.menuShopping {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    row-gap: 1vw;
    justify-content: center;
    margin: 2vh 2vw;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-content: flex-start;
    /* border: 1px green solid; */
}

.shoppingCar{
    position: relative;
    border-radius: 10px;
    height:fit-content;
    padding: 2rem 2rem;
    /* border: 1px yellow solid; */
    
}
.headerCar{
    background: var(--color-gray-box);

}

hr {
    width: 100%;
    margin: auto;
}

.input {
    background-color: var(--color-gray-box);
    border: transparent;
    width: 50%;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    color: var(--color-white);
    font-size: .8rem;
    font-weight: bold;
}

#left{
    border-right: .5px solid var(--color-white);
    text-align: right;
}

.title, .total {
    font-size: 1.3rem;
    font-weight: bold;
    background: var(--color-gray-box);

}

.title { color: var(--color-white); }

.total { 
    color: var(--color-green);
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--color-gray-box);

}

.value {
    display: flex;
    justify-content: space-between;
    background: var(--color-gray-box);

}
#draft{
    background: var(--color-gray-box);

}
.menu_item{
    background: var(--color-gray-box);

}

/* Ítens do carrinho */
.tableCar {
    width: 100%;
    border: none;
}

.item {
    display: flex;
    margin: 1rem 0;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: space-between;
    background: var(--color-gray-box);

    
}

#all{
    display: flex;
    background: var(--color-gray-box);

    
}

.image{
    height: fit-content;
    width: 9vw;
    margin-right: .5rem;
    /* border: 2px solid yellow; */
    background: var(--color-gray-box);

}

#infoProduct{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: .5rem;
    background: var(--color-gray-box);

}

.text {
    font-size: 1rem;
    color: var(--color-white);
    text-align: left;
    background: var(--color-gray-box);

}

.quantify {
    display: flex;
    /* border: 2px solid pink; */
    gap: .5rem;
    background: var(--color-gray-box);

}

.minusPlus {
    font-size: 1em;
    color: var(--color-yellow-service);
    cursor: pointer;
    background: var(--color-gray-box);

}

.delete {
    color: var(--color-red);
    font-size: 1rem;
    background: none;
    border: none;
    font-family: var(--font-products);
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

#priceBoxItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid orange; */
    background: var(--color-gray-box);

}
.price{
    text-align: right;
    color: var(--color-white);
    font-weight: bold;
    background: var(--color-gray-box);

}

#complement{
    position: absolute;
    left: 14rem;
    color: var(--color-green);
    font-size: 1rem;
    font-weight: bold;
    background: var(--color-gray-box);


}

.btn_select{
    background: var(--color-gray-box);
    border-radius: 10px;
    padding: 1rem;
    border: transparent;
    width: 12rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    font-family: var(--font-products);
    box-shadow: 0 1px 5px  var(--color-button-shadow);    
}

.btn_select_active {
    background-color: var(--color-yellow-service);
    border-radius: 10px;
    padding: 1rem;
    border: transparent;
    width: 12rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-black);
    cursor: pointer;
    font-family: var(--font-products);
    box-shadow: 0 1px 5px  var(--color-button-shadow);    
}